@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1280px;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
